@model InteractiveMap.Models.Legends_AllType
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <a href='/~/media/Images/Interactive Map/NetworkMap.ashx' id="btnMapDownload" download>
                    <button class="btn search-station">Download our network map</button>
                </a>

            </div>
            <div class="col-sm-6">
                <div class="map-markers pull-right">
                    <a href=""><i class="fa fa-repeat" id="reset" aria-hidden="true"></i></a>
                    <a href="" class="hidden-xs" id="zoom-out"><i class="fa fa-minus" aria-hidden="true"></i></a>
                    <a href="" class="hidden-xs" id="zoom-in"><i class="fa fa-plus" aria-hidden="true"></i></a>
                    <a href="" class="full-screen-open"><img src="/~/media/Images/Interactive Map/General/full-size.ashx" style="cursor:pointer"></a>
                    <a href="#legend-collapse" class="hidden-xs" data-toggle="collapse"><img src="/~/media/Images/Interactive Map/General/info.ashx"></a>
                    <a href="#" id="mobile-i" class="hidden-sm hidden-md hidden-lg mobile-info"><img src="/~/media/Images/Interactive Map/General/info.ashx"></a>
                    <div class="row map-legends-mobile hidden-sm hidden-md hidden-lg">
                        <div class="col-sm-12 col-xs-12 map-legends">

                            <div class="col-sm-6 col-xs-6 p-mob-l-0">
                                <h4 class="m-t-0">Network Map</h4>
                                <h5 class="m-t-0">Connections to:</h5>
                                <div class="stations-list">


                                    @foreach (var legend in Model.legends_All)
            {
                                        <div class="managed @legend.subtitle.ToLower()">
                                            <img src=@legend.imageURL class="img-responsive">
                                            <p>@legend.subtitle</p>
                                        </div>
                                    }


                                </div>
                            </div>
                            <div class="col-xs-6 p-l-0">
                                <h4 class="m-t-0">&nbsp;</h4>
                                <h5 class="m-t-0">&nbsp;</h5>
                                <ul class="metro-icons">
                                    <li><img src="/~/media/Images/Interactive Map/Legends/Underground.ashx"> London Underground</li>
                                    <li><img src="/~/media/Images/Interactive Map/Legends/London_Overground.ashx"> London Overground</li>
                                    <li><img src="/~/media/Images/Interactive Map/Legends/Tramlink.ashx">Tramlink</li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row collapse hidden-xs  map-legends" id="legend-collapse">
            <div class="col-sm-12 col-xs-12">

                <div class="col-sm-12 col-xs-12">
                    <h3>Stations</h3>
                </div>

                <div class="stations-list col-xs-12 col-sm-12 p-l-0">
                    @foreach (var legend in Model.legends_All)
            {
                        <div class="col-sm-1 col-xs-4 @legend.subtitle.ToLower()">
                            <img src=@legend.imageURL class="img-responsive">
                            <p>@legend.subtitle</p>
                        </div>
                    }
                </div>

                <div class="col-sm-12 col-xs-12 map-connections">

                    <h4>Connections to:</h4>

                </div>
                <div class="col-sm-8">
                    <div class="col-sm-1 col-xs-4 others p-l-0">
                        <img src="/~/media/Images/Interactive Map/Legends/others.ashx" class="img-responsive">
                        <p>Other Train operators</p>
                    </div>
                    <div class="col-sm-1 col-xs-4 others">
                        <img src="/~/media/Images/Interactive Map/Legends/bus-links.ashx" class="img-responsive">
                        <p>Bus Links</p>
                    </div>
                    <div class="col-sm-1 col-xs-4 ferry-links">
                        <img src="/~/media/Images/Interactive Map/Legends/ferrylinks.ashx" class="img-responsive">
                        <p>Ferry Links</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <ul class="metro-icons">
                        <li><img src="/~/media/Images/Interactive Map/Legends/Underground.ashx"> London Underground</li>
                        <li><img src="/~/media/Images/Interactive Map/Legends/London_Overground.ashx"> London Overground</li>
                        <li><img src="/~/media/Images/Interactive Map/Legends/Tramlink.ashx">Tramlink</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


<script>
    $('#btnMapDownload').click()
  
    $("#mobile-i").click(function () {
        $(".map-legends-mobile").toggle();
    });
    $(document).ready(function () {
        $('#btnexitFullscreen').hide();
        $('.full-screen-open').on('click', function () {
            $('.map-svg-container').fullScreen(true);
            $('#btnexitFullscreen').show();
            return false;
        });
        $(document).bind("fullscreenchange", function () {
            if (($(document).fullScreen() ? "on" : "off") === "off") {
                $('#btnexitFullscreen').hide();
            }
        });
        $('#btnexitFullscreen').click(function () {
            $('.map-svg-container').fullScreen(false);

        });
    });
</script>



