<div class="row">
    <div class="col-sm-6"><button class="btn search-station ">Download our network map</button></div>
    <div class="col-sm-6">
        <div class="map-markers pull-right">
            <a href=""><i class="fa fa-repeat" id="reset" aria-hidden="true"></i></a>
            <a href="" class="hidden-xs"><i class="fa fa-minus" id="zoom-out" aria-hidden="true"></i></a>
            <a href="" class="hidden-xs"><i class="fa fa-plus" id="zoom-in" aria-hidden="true"></i></a>
              <img src="img/full-size.svg" style="cursor:pointer" class="full-screen-open">
            <a href=""><img src="img/info.svg"></a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-xs-12 map-legends">

        <div class="col-sm-12 col-xs-12">
            <h3>Stations</h3>
        </div>
        <div class="stations-list col-xs-12 col-sm-12 p-l-0">
            <div class="col-sm-2 col-xs-4 managed">
                <img src="img/managed.png" class="img-responsive">
                <p>Managed</p>
            </div>
            <div class="col-sm-2 col-xs-4 short-platforms">
                <img src="img/short-platforms.png" class="img-responsive">
                <p>Short Platforms</p>
            </div>
            <div class="col-sm-2 col-xs-4 major-interchange">
                <img src="img/major-interchange.png" class="img-responsive">
                <p>Major Interchange</p>
            </div>
            <div class="col-sm-2 col-xs-4 not-managed">
                <img src="img/not-managed.png" class="img-responsive">
                <p>Not Managed</p>
            </div>
            <div class="col-sm-2 col-xs-4 Service-info">
                <img src="img/service-info.png" class="img-responsive">
                <p>Service Info</p>
            </div>
            <div class="col-sm-2 col-xs-4 partly-status">
                <img src="img/part-or-fully-closed.png" class="img-responsive">
                <p>Part or Fully closed</p>
            </div>
        </div>
        <div class="col-sm-12 col-xs-12 map-connections">

            <h4>Connections to:</h4>

        </div>
        <div class="col-sm-1 col-xs-2 others">
            <img src="img/others.png" class="img-responsive">
            <p>Other Train operators</p>
        </div>
        <div class="col-sm-1 col-xs-2 others">
            <img src="img/bus-links.png" class="img-responsive">
            <p>Bus Links</p>
        </div>
        <div class="col-sm-1 col-xs-2 ferry-links">
            <img src="img/ferrylinks.png" class="img-responsive">
            <p>Ferry Links</p>
        </div>
        <div class="col-xs-12 col-sm-12">
            <ul class="metro-icons">
                <li><img src="img/Underground.png"> London Underground</li>
                <li><img src="img/London_Overground.png"> London Overground</li>
                <li><img src="img/Tramlink.png">Tramlink</li>
            </ul>
        </div>
    </div>

</div>



