<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="application-name" content="South Western Railway">
    <title>Trains to Bournemouth & Things to do | South Western Railway</title>
    <meta name="keywords" content="">
    <meta name="description" content="Find cheap advance train tickets to Bournemouth and explore our fantastic destination guide to Bournemouth for some great ideas for your perfect day out.">
    <meta name="msapplication-TileColour" content="#ffffff">
    <meta name="msapplication-TileImage" content="/Assets/img/favicons/ms-icon-144x144.png?v=1">
    <meta name="theme-color" content="#C7DAE7">

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/template-style.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
</head>


<body>
    <!-- Header code starts here -->
    <header class="">

        <div class="top-header-line">
            <div class="outer-section">
                <div class="custom-wrapper">
                    <ul class="header-account">
                        <li><a href="https://tickets.southwesternrailway.com/sw/en/account/orderhistory"><i class="fa fa-user-circle" aria-hidden="true"></i>My Account</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- custom-wrapper -->
        <div class="second-header-bottom" id="stickyheader">
            <div class="outer-section">
                <div class="custom-wrapper">
                    <a class="logo" href="https://www.southwesternrailway.com/" title="">
                        <img alt="South Western Railway" src="~/img/SWR-logo.svg">
                    </a>
                    <ul class="top-links-nav hidden-mobile">
                        <li><a href="https://www.southwesternrailway.com/train-tickets">Train Tickets</a></li>
                        <li><a href="https://www.southwesternrailway.com/plan-my-journey">Plan My Journey</a></li>
                        <li><a href="https://www.southwesternrailway.com/travelling-with-us">Travelling With Us</a></li>
                        <li><a href="https://www.southwesternrailway.com/destinations-and-offers">Destinations and Offers</a></li>
                        <li><a href="https://www.southwesternrailway.com/contact-and-help">Help and Support</a></li>

                    </ul>
                    <div class="side-menu-mobile menu-collapse-mobile hidden-desktop">
                        <span id="menuIcon" class="hamburger">&#9776;</span>
                        <div id="mySidenav" class="sidenav ">
                            <ul>
                                <li class="Menu"><a href="#">Menu</a></li>
                                <li><a href="https://www.southwesternrailway.com/train-tickets">Train Tickets</a></li>
                                <li><a href="https://www.southwesternrailway.com/plan-my-journey">Plan My Journey</a></li>
                                <li><a href="https://www.southwesternrailway.com/travelling-with-us">Travelling With Us</a></li>
                                <li><a href="https://www.southwesternrailway.com/destinations-and-offers">Destinations and Offers</a></li>
                                <li><a href="https://www.southwesternrailway.com/contact-and-help">Help and Support</a></li>
                                <li><a href="/">My Account</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- custom-wrapper -->



    </header>
    <!-- Header code ends here -->

    <div id="journeycheck" class="main">
        @RenderBody()
    </div>

    <!-- footer starts here -->
    <footer>
        <div class="footer-social-links">
            <div class="outer-section">
                <div class="custom-wrapper">
                    <ul>
                        <li>
                            <a href="https://twitter.com/sw_help" target="_blank" class="twitter">twitter</a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/swrailway" target="_blank" class="facebook">facebook</a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/SW_Railway" target="_blank" class="instagram">instagram</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="outer-section">
            <div class="custom-wrapper">
                <div class="col3">
                    <ul class="footer-list">
                        <li>
                            <a>Helpful links</a>
                            <ul>
                                <li>
                                    <a href="https://www.southwesternrailway.com/contact-and-help/contact-us">Contact us</a>
                                </li>
                                <li><a href="https://www.southwesternrailway.com/train-tickets">Train tickets explained</a></li>
                                <li><a href="https://www.southwesternrailway.com/train-tickets/how-to-get-your-ticket">How to get your tickets</a></li>
                                <li><a href="https://www.southwesternrailway.com/plan-my-journey/live-departures-and-arrivals">Live train times</a></li>
                                <li><a href="https://www.southwesternrailway.com/plan-my-journey/live-departures-and-arrivals">Refunds and Compensation</a></li>
                                <li><a href="https://www.southwesternrailway.com/contact-and-help/refunds-and-compensation/delay-repay">Delay Repay</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="col3">
                    <ul class="footer-list">
                        <li>
                            <a href="/other/about-us">About us</a>
                            <ul>
                                <li><a href="https://www.southwesternrailway.com/other/about-us/our-plan">Our Plan</a></li>
                                <li>
                                    <a href="https://www.southwesternrailway.com/other/about-us/our-plan/people">Careers</a>
                                </li>
                                <li><a href="https://www.southwesternrailway.com/other/about-us/passengers-charter">Passenger's Charter</a></li>
                                <li><a href="https://www.southwesternrailway.com/other/about-us/performance">Our Performance</a></li>
                                <li>
                                    <a href="https://www.southwesternrailway.com/other/about-us/about-first-group-and-mtr">FirstGroup and MTR Company</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="col3">
                    <ul class="footer-list">
                        <li>
                            <a href="/destinations-and-offers/destinations">Top destinations</a>
                            <ul>
                                <li>
                                    <a href="https://www.southwesternrailway.com/destinations-and-offers/destinations/london-waterloo">Trains to London Waterloo</a>
                                </li>
                                <li>
                                    <a href="https://www.southwesternrailway.com/destinations-and-offers/destinations/bournemouth">Trains to Bournemouth</a>
                                </li>
                                <li>
                                    <a href="https://www.southwesternrailway.com/destinations-and-offers/destinations/exeter">Trains to Exeter</a>
                                </li>
                                <li>
                                    <a href="https://www.southwesternrailway.com/destinations-and-offers/destinations/southampton">Trains to Southampton</a>
                                </li>
                                <li>
                                    <a href="https://www.southwesternrailway.com/destinations-and-offers/destinations">See all destinations</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="outer-section">
            <div class="custom-wrapper">
                <ul class="footer-links">
                    <li>
                        <a href="https://www.southwesternrailway.com/sitemap">Sitemap</a>
                    </li>
                    <li>
                        <a href="https://www.southwesternrailway.com/terms-and-conditions">Terms &amp; Conditions</a>
                    </li>
                    <li>
                        <a href="https://www.southwesternrailway.com/privacy-policy">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="https://www.southwesternrailway.com/accessibility-features">Accessibility</a>
                    </li>
                    <li>
                        <a href="https://www.southwesternrailway.com/travelling-with-us/assisted-travel">Assistance</a>
                    </li>
                    <li>
                        <a href="https://www.southwesternrailway.com/other/news-and-media">Media Centre</a>
                    </li>
                    <li>
                        <a href="https://www.southwesternrailway.com/~/media/pdfs/modern-slavery/firstgroup-plc-modern-slavery-and-human-trafficking-statement-2017.pdf?la=en">Modern Slavery Act</a>
                    </li>
                    <li>
                        <a href="https://tickets.southwesternrailway.com/sw/en/account/OrderHistory">My Account</a>
                    </li>
                </ul>

            </div>
        </div>
        <div class="outer-section">
            <div class="custom-wrapper">
                <div class="footer-text">
                    <p>
                        © South Western Railway 2017. A First Group and MTR company. All rights reserved.&nbsp;
                        <br>
                        <br> *Advance Purchase tickets must be purchased before 23:59 on the day prior to travel. Due to the limited availability, book early to avoid disappointment. ^Nectar Terms and Conditions apply.
                    </p>
                    <p>We use cookies to improve your experience. By using the site, you consent to the use of these cookies. If you'd like more information, please view our&nbsp;<a href="https://www.southwesternrailway.com/privacy-policy">Privacy Policy</a>.</p>
                </div>
            </div>
        </div>

    </footer>
    <!-- footer end here -->
    <script>
	$(document).ready(function(){
		$('#menuIcon').click(function(){
		if($(this).hasClass('hamburger')){
			$("#mySidenav").css('width',"100%");
			$(this).removeClass('hamburger').addClass('cross');
			$("body").css('overflow',"hidden");
			$(this)[0].innerHTML = '&times;';
		} else {
			$("#mySidenav").css('width',"0");
			$(this).removeClass('cross').addClass('hamburger');
			$("body").css('overflow',"auto");
			$(this)[0].innerHTML = '&#9776;';
		}

		})
	})
    </script>
    <script>
        window.onscroll = function() {
            myFunction()
        };

        var header = document.getElementById("stickyheader");
        var sticky = header.offsetTop;

        function myFunction() {
            if (window.pageYOffset >= sticky) {
                header.classList.add("sticky");
            } else {
                header.classList.remove("sticky");
            }
        }

    </script>

    @*@Styles.Render("~/Content/css")*@
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>

</html>